@model PostUserVM

@{
    ViewData["Title"] = "PostByCategory";
}
@foreach (var item in Model.Posts)
{
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a asp-controller="Post" asp-action="PostByID" asp-route-id="@item.ID" class="effect-lily tm-post-link tm-pt-60">
            <div class="tm-post-link-inner">
                <img src="~/@item.ImagePath" alt="Image" class="img-fluid" >
            </div>
            <span class="position-absolute tm-new-badge">New</span>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">@item.Title</h2>
        </a>
        <p class="tm-pt-30">
            @if (item.PostDetail.Length > 100)
            {
                @item.PostDetail.Substring(0, 100).ToString();<p>...</p>
            }
            else
            {
                    @item.PostDetail.ToString();
            }
        </p>
        <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary">@item.Tags</span>
            <span class="tm-color-primary">@item.CreatedDate.Value.ToShortDateString()</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span><i class="fa fa-eye"></i>@item.ViewCount.ToString()</span>
            <span><i class="fa fa-eye"></i><a asp-controller="Post" asp-action="PostByAuthor" asp-route-id="@item.UserID">@Model.Users.Where(x=>x.ID==item.UserID).FirstOrDefault().FirstName @Model.Users.Where(x=>x.ID==item.UserID).FirstOrDefault().LastName</a> </span>
        </div>
    </article>
}




